body
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #172622;
}
header div
{
  text-align: center;
  border: solid #2a403a;
  border-radius: 25px;
  background-color: #d0d5d9;
  margin: auto;
  width: 80%;
}

div a img
{
  border: solid #2a403a;
  border-radius: 40px;
  margin-top: 20px;
}

nav
{
  text-align: center;
  font-weight: bold;
  line-height: 2;
}

h1, h2
{
  text-align: center;
  line-height: 2;
  font-family: inherit;
}
h1
{
  margin: auto;
  margin-top: 10px;
  border: 2.5px solid #2a403a;
  border-radius: 15px 30px;
  width: 80%;
  background-color: silver;
}

header nav ul li
{
  display: inline-block;
  width: 200px;
  margin: 5px 30px;
  text-align: center;
  color: #8c8070;
  border: solid #2a403a;
  border-radius: 10px;
  background: #2a403a;

}

header nav ul {padding: inherit;}
a
{
  text-decoration: none;
  color: inherit;
}
p
{
  line-height: 30px;
  text-align:justify;
  color: white;
  margin: 60px;
}
strong
{
  color: white;

}

table
{
  margin: auto;
  border: solid #d5d0d9;
  color: #8c8070;
}

footer nav ul li
{
  display: inline-block;
  margin: 10px 30px;
  text-decoration: none;
  text-align: center;
  width: 3em;

}
footer nav ul
{
  background: ##172622;
  height: 80px;
  border: solid #2a403a;

}

footer
{
  width: 600px;
  margin: auto;
  
}
